<div class="row">
  <div class="col-md-6 d-flex align-items-stretch grid-margin">
    <div class="card col">
      <div class="card-body">
        <h4 class="card-title">Multiple select</h4>
        <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInput">Options</label>
	          <app-multiple-select 
	          	[options]="selectOptions" 
	          	[placeholder]="'Select options...'" 
	          	id="input" 
	          	name="input" 
	          	[(ngModel)]="value" 
	          	#input="ngModel" 
	          	required>
	          </app-multiple-select>
          </div>
          <code>Selected values: {{ value }}</code>
        </form>
      </div>
    </div>
  </div>
</div>