<div class="row">
  <div class="col-md-6 d-flex align-items-stretch grid-margin">
    <div class="card col">
      <div class="card-body">
        <h4 class="card-title">Multiple select</h4>
        <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInput">Options</label>
	          <app-multiple-select 
	          	[options]="selectOptions" 
	          	[placeholder]="'Select options...'" 
	          	id="multiple" 
	          	name="multiple" 
	          	[(ngModel)]="custom.multiple" 
	          	#multiple="ngModel" 
	          	required>
	          </app-multiple-select>
          </div>
          <code>Selected values: {{ custom.multiple }}</code>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6 d-flex align-items-stretch grid-margin">
    <div class="card col">
      <div class="card-body">
        <h4 class="card-title">Select image</h4>
        <form class="forms-sample">
          <div class="form-group">
            <app-select-image 
            	id="image" 
	          	name="image" 
	          	[(ngModel)]="custom.image" 
	          	#image="ngModel">	
            </app-select-image>
          </div>
          <code>Selected value: {{ custom.image }}</code>
        </form>
      </div>
    </div>
  </div>
</div>